* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

table th {
    padding: 10px;
    background-color: darkolivegreen;
    color: white;
}

#tbody tr>td {
    padding: 10px;
    background-color: darkolivegreen;
    color: white;
}